body{
    background-color: rgba(80, 121, 157, 0.37);
}

#cabecera{
    
    
    background: rgba(24, 41, 51, 0.794);
  
}
#numero1, #numero2{
    display:block;
    width:90%;
    margin: 9px;
    padding: 10px 8px;
    font-size: 18px;
    line-height: 1.5;
    color:#000000;
    background-color:#fff;
    border:1px solid #ced4da;
    border-radius: 8px;
}
    
h1, p{
    color: #fff;
}

#bu1{
    width: 310px;
    background-color: #48e;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    padding: 8px;
    margin: 10px;
    border: none;
}

#formulario{
    display: flex;
    justify-content: center;
}

#b1, #b2{
    display: flex;
    justify-content: center;
}
#m1, #m2{
   text-decoration: none;
}
#l1{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(157, 157, 157);
    cursor: pointer;
    position: relative;
    left: 650px;
    bottom: 50px;
   
}
#l1:hover{
        color: rgb(255, 255, 255);
}
    
h1{
     color: white;   
}